<footer class="footer">

    <div class="footer-socials">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>

    <div class="footer-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Contact</a>
    </div>

    <p class="footer-text">
        &copy; 2026 Nestora Pvt. Ltd. All rights reserved.
    </p>

</footer>


<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">

        </div>
        <div>&copy; Nestora Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    
    </div>
</footer> -->