body {
    background-color: #f8f9fa;
    color: #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
  

}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: #ffff;
}

.fa-dove{
    color: #FF5A5F;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
/* footer css -------------------------------------------------------*/
.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
}

.footer-socials {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer-socials i {
    margin: 0 0.8rem;
    cursor: pointer;
}

.footer-socials i:hover {
    color: #ff5a5f;
}

.footer-links {
    margin-bottom: 0.8rem;
}

.footer-links a {
    text-decoration: none;
    color: #222;
    margin: 0 0.5rem;
}

.footer-links a:hover {
    color: #ff5a5f;
}

.footer-text {
    color: #666;
    font-size: 0.9rem;
}
/* Cards----------------------------------------------------- */
/* Container for all cards */
.listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

/* Individual Card */
.card {
    width: 18rem !important;
    border: none !important;
    border-radius: 15px !important;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover Effect */
.card:hover {
    transform: translateY(-5px);
}

/* Image */
.card-img-top {
    width: 100% !important;
    height: 250px;
    object-fit: cover !important;
    border-radius: 15px !important;
}

/* Card Body */
.card-body {
    padding: 0.8rem !important;
}

/* Title */
.card-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

/* Text */
.card-text {
    color: #555;
    font-size: 0.95rem;
    margin-bottom: 0.3rem;
}

/* Price */
.price {
    font-weight: bold;
    color: #222;
}
.listing-link {
    text-decoration: none;
    color: inherit;
}

.listing-link:hover {
    color: inherit;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}
/* Card overlay ----------------------------------------*/
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background: white;
}
/* new page */
.add-btn{
    background-color: #ff5a5f !important;
    border: none !important;
}
.edit-btn{
    background-color: #ff5a5f !important;
    border: none !important;
}
.show-img{
    height: 50vh;
    width: 150vh;
}
.btns{
    display: flex;

}
.show-card{
    padding: 0;
    padding-right: 0;
}